#botNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    background-color: lightblue;
    height: 70px;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

.botNav img {
    max-width: 30px;
}

.botNavItem {
    width: 20%;
}

.link {
    text-decoration: none;
}

.link p {
    margin: 0;
    color: gray;
}

.linkActive div {
    background-color: white;
    border-radius: 50%;
}
